.nav-bar-link {
    color: #C8765A;
    margin: 0 10px;
    

}

.active {
    color: #F8E6DB;
    text-decoration: none;
}

a {
    /* color: green; */
    text-decoration: none;
}


.btn {
    display: none; 
    position: absolute;
    left: 1px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

.mobile-menu-icon{
display: none;
}

@media screen and (max-width: 500px) {
    .nav-bar-link {
        width: 100%;
        border-top: 1px red rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        color:aqua;
        
        height:auto;
       
        text-transform: uppercase;
    }

    .nav-bar-link:nth-child(1) {

        
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;

    }

    .active {
        background: #DEB887;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    .btn {

        display: block;
        left: 10px;
        margin: 10px 0px;
       color: #C8765A;
        

    }
   
        
}
