.nav-bar-link {
    color: #C8765A;
    margin: 0 10px;


}

.active {
    color: #F8E6DB;
    text-decoration: none;
}

a {
    /* color: green; */
    text-decoration: none;
}


.btn {
    display: none;
    position: absolute;
    left: 1px;
    top: 7px;
    padding: 1px;
}



@media screen and (max-width: 500px) {
    .nav-bar-link {
        width: 100%;
        border-top: 1px red rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        color: aqua;
        height: auto;
        text-transform: uppercase;
       
    }

    .nav-bar-link:nth-child(1) {


        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
       

    }

   .btn {

        display: block;
        margin: 10px 0px;
        margin-left: -15px;
        
      
        

    }
   


}
